
# Dependencies
node_modules/
venv/
__pycache__/
*.pyc
app/uploads/
backend/test_jwt.py
backend/test_password.py
*.db
.pytest_cache/
.venv/

# Environment
.env
.env.local

# IDE/System
.vscode/
.DS_Store
.idea/
